@use "reset";

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(228, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

button {
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  background-color: $bright-blue;
  width: 100%;
  box-shadow: 0 12px 30px -8px #8785de;
  font-weight: 600;
  border: none;
  padding: 15px 0;
  border-radius: 10px;
  margin: 30px 0;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #6b67e0;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin: auto;
}

.attribution {
  font-size: 11px;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.cancel-order {
  font-weight: 700;
  transition: 0.3s;
}

.cancel-order:hover {
  color: $dark-blue;
  cursor: pointer;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $pale-blue;
  z-index: -1;
}

.description {
  margin-bottom: 25px;
  color: $desaturated-blue;
  line-height: 1.5;
}

.image-container {
  height: auto;

  img {
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
  }
}

.order-content {
  height: min-content;
  flex: auto;
  padding: 45px 50px;

  h1 {
    font-size: 28px;
    font-weight: 900;
    color: $dark-blue;
    margin-bottom: 25px;
  }
}

.price {
  display: flex;
  padding: 20px;
  background-color: $very-pale-blue;
  border-radius: 15px;

  p,
  a {
    margin: auto 0;
  }

  a {
    font-weight: 700;
    margin-left: auto;

    &:hover {
      text-decoration: none;
      color: #6b67e0;
    }
  }

  img {
    padding-right: 20px;
  }
}

.summary-container {
  width: 455px;
  height: 695px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}

.strong {
  font-weight: 900;
  color: $dark-blue;
}

@media (max-width: 1400px) {
  html,
  body {
    height: 120vh;
  }
}

@media (max-width: 576px) {
  button {
    margin: 15px 0;
  }

  .container {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .order-content h1 {
    font-size: 22px;
  }

  .summary-container {
    width: 335px;
    height: 575px;
  }

  .order-content {
    padding: 30px;
  }
}
